.board{
  display: flex;
  flex-direction: column;
}

#board-header {
  text-align: center;
  margin-bottom: 20px;
}

.sudoku-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell-row {
  margin-bottom: 5px;
}

.cell {
  width: 40px;
  height: 40px;
  margin: 2px;
  text-align: center;
}

.cell-input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-align: center;
}

/* Hide increment and decrement arrows */
.cell-input::-webkit-inner-spin-button,
.cell-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cell-input[type=number] {
    -moz-appearance: textfield; /* Para Firefox */
}

input{
  border-width: thin;
  font-weight: bold;
}

input:disabled{
  background-color: #c9c7c7;
}

.border-bottom{
  border-bottom: 5px solid black;
}

.border-top{
  border-top: 5px solid black;
}

.border-left{
  border-left: 5px solid black;
}

.border-right{
  border-right: 5px solid black;
}

.hide-board{
  height: 60px;
  width: 50px;
  background-color: #555;
}

.wrong-value{
  color: red;
}

// Toogle
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #008CBA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #008CBA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.show-correct{
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 30px auto;
  background-color: #f2f2f2;
  border-radius: 10px; 
  padding: 20px;
}

.show-correct span{
  padding-right: 10px;
  font-size: 20px;
}